# Environment Variables Example File

# --- Base Application Settings ---
NODE_ENV=development
NEXT_PUBLIC_APP_NAME="EduNexus"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# --- Database Variables ---
MONGODB_URL=
DATABASE_NAME=

# --- Authentication & OTP Settings ---
NEXTAUTH_SECRET=
OTP_LENGTH=6
NEXT_PUBLIC_OTP_DIGITS=6
OTP_HASH_SALT_ROUNDS=10
CODE_EXPIRY_TIME=600

# --- Email Settings / SMTP ---
SMTP_EMAIL_HOST="smtp.gmail.com"
SMTP_EMAIL_PORT=587
SMTP_EMAIL_SECURE=false
SMTP_EMAIL_USER=
SMTP_EMAIL_PASS=
SMTP_EMAIL_FROM=

# --- ImageKit Settings (Client Side) ---
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=
NEXT_PUBLIC_IMAGEKIT_FILE_SIZE=5

# --- ImageKit Settings (Server Side) ---
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# --- Meta & SEO Properties ---
NEXT_PUBLIC_ICON_URL="/favicon.ico"
NEXT_PUBLIC_META_TITLE=
NEXT_PUBLIC_META_DESCRIPTION=
NEXT_PUBLIC_META_OG_TITLE=
NEXT_PUBLIC_META_OG_DESCRIPTION=
NEXT_PUBLIC_META_OG_IMAGE="/og-image.png"

# --- Not Found / Error Page Metadata ---
NEXT_PUBLIC_NOT_FOUND_TITLE="Page Under Construction"
NEXT_PUBLIC_NOT_FOUND_DESCRIPTION=
NEXT_PUBLIC_NOT_FOUND_OG_IMAGE=
